{% extends 'base.html' %}

{% block content%}
    
    <section>
        
        <form method="post" action="{% url 'password' %}">
            <div>
            
            <select required name="length">
                <option value="" selected disabled>WYBIERZ DŁUGOŚĆ</option>
                <option value= "10" >10 znaków</option>
                <option value= "9" >9 znaków</option>
                <option value= "8" >8 znaków</option>
            </select>

                <input type="checkbox" id="checkbox1" name="big" />
                <label for="checkbox1">WIELKIE LITERY:</label>
            
                <input type="checkbox" id="checkbox2" name="numbers" />
                <label for="checkbox2">LICZBY:</label>
            
                <input type="checkbox" id="checkbox3" name="specials" />
                <label for="checkbox3">ZNAKI SPECJALNE:</label>
                {% csrf_token %}
                <button type="submit">WYGENERUJ HASŁO</button>
            </div>
        </form>
      </section>

</body>
</html>
{% endblock content%}